html
  box-sizing: border-box
  
*, *:before, *:after
  box-sizing: inherit

body
  background-color: #0079bf
  overflow: hidden

::-webkit-scrollbar
  width: 8px
  border-radius: 10px
  background: #dadbe2

::-webkit-scrollbar-thumb
  background: #bfc4ce
  border-radius: 10px



h3
  padding: 8px
  font-size: 16px

.container
  display: flex
  margin: 0 4px

.list-container
  margin: 8px 4px
  border: 1px solid lightgrey
  border-radius: 3px
  width: 272px
  height: 100%
  display: flex
  flex-direction: column
  background-color: #ebecf0
  max-height: calc(100vh - 16px)
  
  input
    width: 264px
    height: 32px
    font-size: 16px
    margin: 4px auto
    padding: 4px
    &:focus
      outline: none
      border: 2px solid #0079bf
      border-radius: 3px

.card-container
  border: 1px solid lightgrey
  border-radius: 2px
  padding: 8px
  margin: 8px
  transition: background-color .2s ease
  background-color: white
  box-sizing: border-box  
  box-shadow: 0 1px 0 #091e4240
  word-wrap: break-word
  max-width: 100%
  overflow: hidden
  &:hover
    background-color: #ebecf0

.card-list
  transition: background-color 0.2s ease
  overflow-y: auto

.add-new-list-btn
  display: flex
  align-items: center
  line-height: 40px
  margin: 8px 4px 
  padding: 0 8px
  width: 270px
  height: 40px
  border-radius: 3px
  background: #52a4d4
  cursor: pointer
  color: white
  transition: background-color .2s ease

  &:hover
    background: #66afd9
.add-new-list-menu
  padding: 4px
  margin: 8px
  width: 270px
  height: 80px
  display: flex
  flex-direction: column
  align-items: flex-start
  background-color: #ebecf0
  border-radius: 3px
  input
    width: 100%
    height: 36px
    font-size: 14px
    &:focus 
      outline: none
      border: 2px solid #0079bf
      border-radius: 3px
  
  .btn-div
    display: flex
    margin-top: 4px
    button
      height: 32px
      padding: 0 8px
      background-color: #0079bf
      color: white
      border: none
      border-radius: 3px
      outline: none      
    .transparent
      background-color: transparent
      color: black

.add-new-card-btn
  display: flex
  align-items: center
  line-height: 32px
  margin: 8px 8px 
  padding: 0 8px
  height: 32px
  border-radius: 3px
  background: inherit
  cursor: pointer
  color: #5e6c84
  transition: background-color .2s ease

  &:hover
    background: #ced1da


.add-new-card-menu
  padding: 4px
  margin: 4px
  width: auto
  height: 100%
  display: flex
  flex-direction: column
  align-items: flex-start
  background-color: #ebecf0
  border-radius: 3px
  textarea
    border: 1px solid lightgrey
    width: 100%
    min-height: 72px
    padding: 8px 8px 0px
    font-size: 14px
    resize: none
    font-family: inherit
    &:focus 
      outline: none
      border: 1px solid lightgrey

      border-radius: 3px
  
  .btn-div
    display: flex
    margin-top: 4px
    button
      height: 32px
      padding: 0 8px
      background-color: #0079bf
      color: white
      border: none
      border-radius: 3px
      outline: none      
    .transparent
      background-color: transparent
      color: black
